USE [master]
GO
/****** Object:  Database [TopSpeedAutomobile]    Script Date: 31-07-2026 7.04.04 AM ******/
CREATE DATABASE [TopSpeedAutomobile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TopSpeedAutomobile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TopSpeedAutomobile.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TopSpeedAutomobile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TopSpeedAutomobile_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TopSpeedAutomobile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TopSpeedAutomobile]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 31-07-2026 7.04.05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 31-07-2026 7.04.05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EstablishedYear] [nvarchar](max) NULL,
	[BrandLogo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260729145735_InitialMigration', N'8.0.0')
GO
INSERT [dbo].[Brand] ([Id], [Name], [EstablishedYear], [BrandLogo]) VALUES (N'de058541-9004-458e-80f2-08deee419f33', N'BMW', N'1947', N'\images\brand\c5f50a2b-4182-41e6-868e-48f66add3605.jpg')
INSERT [dbo].[Brand] ([Id], [Name], [EstablishedYear], [BrandLogo]) VALUES (N'88a39df7-0b81-4143-da4f-08deee456687', N'AUDI', N'1954', N'\images\brand\14e26a70-b953-40e9-b177-507ae95375fe.jpg')
INSERT [dbo].[Brand] ([Id], [Name], [EstablishedYear], [BrandLogo]) VALUES (N'538e6cbd-4b87-42b3-4ed8-08deee573d89', N'TATA Motars', N'1678', N'\images\brand\22433f82-8b8b-48b6-9e8f-fbe1a0eaac8d.jpg')
GO
USE [master]
GO
